h1 {color:darkblue;
text-align:center;
font-family:'Courier New';}
thead {background-color:lavender;}
p {background-color: lavender;}
tbody{background-color: lightgray}
table, th, td {
  border: 2px solid black;
}
#opacity{font-family:monospace;
background-color:lightblue;}
#fontfamily{font-family:monospace;
background-color:lightblue;}
#fontsize{font-family:monospace;
background-color:lightblue;}
#fontweight{font-family:monospace;
background-color:lightblue;}
#color{font-family:monospace;
background-color:lightblue;}
#textalign{font-family:monospace;
background-color:lightblue;}
#backgroundcolor{font-family:monospace;
background-color:lightblue;}
.backgroundimage{font-family:monospace;
background-color:lightblue;}
tfoot{background-color:lavender;
text-align:center;}
